*{
  box-sizing: border-box;
  /* border: 1px dotted #b3b3ff; */
  background: none;
  margin: 0;
  padding: 0;
}
/* ============================
Final Comunes
============================ */

body{
  background: url("../img/fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  top;
  display: flex;
}
/* img{
  align-items: center;
} */
button{
  padding: auto;
  margin: auto;
}
h1{
  font-family: 'Pattaya', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px #b30059;
}/* Titulo Ppal*/
h3{
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-size: 2.5rem;
}
h5{
  font-family: 'Satisfy', cursive;
  font-style: italic;
}/* Slogan */
p{
font-family: 'Shadows Into Light', cursive;
font-style: italic;
font-size: 1.5rem;
}/* Fechas */
/* ============================
Final Header
============================ */


.ppal{
  background-color: rgb(204, 204, 255, 0.6);
  /* box-shadow: 3px 3px grey; */
  overflow: scroll;
  scroll-behavior: auto;
}
/* ============================
Final columna Buscador
============================ */

.imgCont>img{
  width: 100%;
  height: 10%;
  box-shadow: 0 0 0 1px rgba(#0,0,0,0.2);
}
.imgCont>img:hover{
  box-shadow: 0 0 0 1px rgba(#0,0,0,0.2);
}
.icono>img{
  width: 100%;
}
.favoritos{
  flex-direction: row;
  align-items: center;
}
/* ============================
Final Colunma contenido
============================ */

ul{
  list-style-type: none;
}
.comentarios{
  border: 2px solid white;
  border-radius: 6px;
  flex-direction: row;
  /* align-items: center; */
}
.user-name .coment{
  margin-left: 10px;
}
/* ============================
Final columna historial
============================ */
